.env
env/
*.env
!*.env.template
venv/
.venv/

.idea/
/.vscode*

backend/sql/
backend/log/
backend/cron_job
backend/.venv/
backend/.secrets.env
backend/.tmp
backend/tmp
backend/build/
backend/socks_keys
backend/.env
backend/src/core/settings.py

frontend/node_modules/

n8n/local-files/